<div class="calendar-container">
  <div class="header-secondary">
	<div class="appointment-view fl">
    	<span class="view-label">View as</span>
        <div class="view-type dis-inbl over">
        	<span class="view-active active fl cp"><span class="calender-icon fl"></span></span>
            <span class="view-active fl cp"><span class="list-icon fl"></span></span>
        </div>
    </div>
    <div class="services fl">
        <span class="dropdown-label fl">Services:</span>
        <span class="dropdown fl cp"><span class="label fl">All</span><span class="arrw-icon fl"></span></span>
    </div>
    <div class="book-button fr">
    	<button class="cp">Add Appointment</button>
    </div>
</div>
<div class="calendar-wraper over">
	<div class="calendar-header text-center">
    	<div class="view-style fl">
        	<span class="day fl cp">Day</span>
            <span class="week fl cp active">Week</span>
            <span class="month fl cp">Month</span>
        </div>
        <div class="calendar-style dis-inbl">
        	<span class="calendar-iconBlack dis-inbl cp"></span>
            <div class="calendar-week">
            	<span class="prev dis-inbl cp"></span>
                <span class="week cp">15 - 21  July 2016</span>
                <span class="next dis-inbl cp"></span>
            </div>
        </div>
    </div>
    <div class="calendar">
    	<div class="calendar-titleRow">
        	<div class="staff fl boxsize">
                <span class="dropdown-label fl">Staff:</span>
                <span class="dropdown fl cp"><span class="label fl">All</span><span class="arrw-icon fl"></span></span>
            </div>
            <div class="calendar-day fl boxsize">
            	<span class="day dis-block">Mon</span>
                <span class="date">15</span>
            </div>
            <div class="calendar-day fl boxsize">
            	<span class="day dis-block">Tue</span>
                <span class="date">16</span>
                <span class="curr-day fr">Today</span>
            </div>
            <div class="calendar-day fl boxsize">
            	<span class="day dis-block">Wed</span>
                <span class="date">17</span>
            </div>
            <div class="calendar-day fl boxsize">
            	<span class="day dis-block">Thu</span>
                <span class="date">18</span>
            </div>
            <div class="calendar-day fl boxsize">
            	<span class="day dis-block">Fri</span>
                <span class="date">19</span>
            </div>
            <div class="calendar-day holiday fl boxsize">
            	<span class="day dis-block">Sat</span>
                <span class="date">20</span>
            </div>
            <div class="calendar-day holiday fl boxsize">
            	<span class="day dis-block">Sun</span>
                <span class="date">21</span>
            </div>
        </div>
        <div class="appointment-row">
        	<div class="staff fl boxsize text-center">
            	<span class="dis-block"><img src="/images/staff1.png" width="48" height="48" alt=""/></span>
                <span class="staff-name dis-block">Arun Prasad</span>
            </div>
            <div class="appointments fl boxsize">
            	<div class="total-appointments">
                	<span class="total">6</span>
                    <span>Appointments</span>
                </div>
                <div class="appointments-booked">
                	<ul>
                    	<li class="deactive">09.30 - 10.30 AM  / Haircut</li>
                        <li class="deactive">12.30 - 01.30 PM / Massage</li>
                        <li class="deactive">04.00 - 05.00pm / Bridal Makeup</li>
                        <li class="deactive">09.30 - 10.30 AM  / Haircut</li>
                        <li class="deactive">...</li>
                    </ul>
                </div>
            </div>
            <div class="appointments fl boxsize">
            	<div class="total-appointments">
                	<span class="total">12</span>
                    <span>Appointments</span>
                </div>
                <div class="appointments-booked">
                	<ul>
                    	<li class="deactive">09.30 - 10.30 AM  / Haircut</li>
                        <li class="deactive">12.30 - 01.30 PM / Massage</li>
                        <li class="cp active">04.00 - 05.00pm / Bridal Makeup</li>
                        <li class="cp">09.30 - 10.30 AM  / Haircut</li>
                        <li class="cp">...</li>
                    </ul>
                </div>
            </div>
            <div class="appointments fl boxsize">
            	<div class="total-appointments">
                	<span class="total">3</span>
                    <span>Appointments</span>
                </div>
                <div class="appointments-booked">
                	<ul>
                    	<li class="cp">09.30 - 10.30 AM  / Haircut</li>
                        <li class="cp">12.30 - 01.30 PM / Massage</li>
                        <li class="cp">04.00 - 05.00pm / Bridal Makeup</li>
                    </ul>
                </div>
            </div>
            <div class="appointments fl boxsize">
            	<div class="total-appointments">
                	<span class="total">24</span>
                    <span>Appointments</span>
                </div>
                <div class="appointments-booked">
                	<ul>
                    	<li class="cp">09.30 - 10.30 AM  / Haircut</li>
                        <li class="cp">12.30 - 01.30 PM / Massage</li>
                        <li class="cp">04.00 - 05.00pm / Bridal Makeup</li>
                        <li class="cp">09.30 - 10.30 AM  / Haircut</li>
                        <li class="cp">...</li>
                    </ul>
                </div>
            </div>
            <div class="appointments fl boxsize">
            	<div class="total-appointments">
                	<span class="total">2</span>
                    <span>Appointments</span>
                </div>
                <div class="appointments-booked">
                	<ul>
                    	<li class="cp">09.30 - 10.30 AM  / Haircut</li>
                        <li class="cp">12.30 - 01.30 PM / Massage</li>
                    </ul>
                </div>
            </div>
            <div class="appointments holiday fl boxsize text-center">
            	<span class="break dis-inbl"></span>
            </div>
            <div class="appointments holiday fl boxsize text-center">
            	<span class="break dis-inbl"></span>
            </div>
        </div><!--row-->
        <div class="appointment-row">
        	<div class="staff fl boxsize text-center">
            	<span class="dis-block"><img src="/images/staff2.png" width="48" height="48" alt=""/></span>
                <span class="staff-name dis-block">Bysal</span>
            </div>
            <div class="appointments fl boxsize">
            	<div class="total-appointments">
                	<span class="total">6</span>
                    <span>Appointments</span>
                </div>
                <div class="appointments-booked">
                	<ul>
                    	<li class="deactive">09.30 - 10.30 AM  / Haircut</li>
                        <li class="deactive">12.30 - 01.30 PM / Massage</li>
                        <li class="deactive">04.00 - 05.00pm / Bridal Makeup</li>
                        <li class="deactive">09.30 - 10.30 AM  / Haircut</li>
                        <li class="deactive">...</li>
                    </ul>
                </div>
            </div>
            <div class="appointments fl boxsize">
            	<div class="total-appointments">
                	<span class="total">0</span>
                    <span>Appointments</span>
                </div>
                <div class="appointments-booked hide">
                	<ul>
                    	<li class="deactive">09.30 - 10.30 AM  / Haircut</li>
                        <li class="deactive">12.30 - 01.30 PM / Massage</li>
                        <li class="cp active">04.00 - 05.00pm / Bridal Makeup</li>
                        <li class="cp">09.30 - 10.30 AM  / Haircut</li>
                        <li class="cp">...</li>
                    </ul>
                </div>
            </div>
            <div class="appointments fl boxsize">
            	<div class="total-appointments">
                	<span class="total">7</span>
                    <span>Appointments</span>
                </div>
                <div class="appointments-booked">
                	<ul>
                    	<li class="cp">09.30 - 10.30 AM  / Haircut</li>
                        <li class="cp">12.30 - 01.30 PM / Massage</li>
                        <li class="cp">04.00 - 05.00pm / Bridal Makeup</li>
                        <li class="cp">09.30 - 10.30 AM  / Haircut</li>
                        <li class="cp">...</li>
                    </ul>
                </div>
            </div>
            <div class="appointments fl boxsize">
            	<div class="total-appointments">
                	<span class="total">24</span>
                    <span>Appointments</span>
                </div>
                <div class="appointments-booked">
                	<ul>
                    	<li class="cp">09.30 - 10.30 AM  / Haircut</li>
                        <li class="cp">12.30 - 01.30 PM / Massage</li>
                        <li class="cp">04.00 - 05.00pm / Bridal Makeup</li>
                        <li class="cp">09.30 - 10.30 AM  / Haircut</li>
                        <li class="cp">...</li>
                    </ul>
                </div>
            </div>
            <div class="appointments fl boxsize">
            	<div class="total-appointments">
                	<span class="total">0</span>
                    <span>Appointments</span>
                </div>
                <div class="appointments-booked hide">
                	<ul>
                    	<li class="cp">09.30 - 10.30 AM  / Haircut</li>
                        <li class="cp">12.30 - 01.30 PM / Massage</li>
                    </ul>
                </div>
            </div>
            <div class="appointments holiday fl boxsize text-center">
            	<span class="break dis-inbl"></span>
            </div>
            <div class="appointments holiday fl boxsize text-center">
            	<span class="break dis-inbl"></span>
            </div>
        </div><!--row-->
        <div class="appointment-row">
        	<div class="staff fl boxsize text-center">
            	<span class="dis-block"><img src="/images/staff3.png" width="48" height="48" alt=""/></span>
                <span class="staff-name dis-block">Vignesh Sreedhar</span>
            </div>
            <div class="appointments fl boxsize">
            	<div class="total-appointments">
                	<span class="total">6</span>
                    <span>Appointments</span>
                </div>
                <div class="appointments-booked">
                	<ul>
                    	<li class="deactive">09.30 - 10.30 AM  / Haircut</li>
                        <li class="deactive">12.30 - 01.30 PM / Massage</li>
                        <li class="deactive">04.00 - 05.00pm / Bridal Makeup</li>
                        <li class="deactive">09.30 - 10.30 AM  / Haircut</li>
                        <li class="deactive">...</li>
                    </ul>
                </div>
            </div>
            <div class="appointments fl boxsize">
            	<div class="total-appointments">
                	<span class="total">12</span>
                    <span>Appointments</span>
                </div>
                <div class="appointments-booked">
                	<ul>
                    	<li class="deactive">09.30 - 10.30 AM  / Haircut</li>
                        <li class="deactive">12.30 - 01.30 PM / Massage</li>
                        <li class="cp active">04.00 - 05.00pm / Bridal Makeup</li>
                        <li class="cp">09.30 - 10.30 AM  / Haircut</li>
                        <li class="cp">...</li>
                    </ul>
                </div>
            </div>
            <div class="appointments fl boxsize">
            	<div class="total-appointments">
                	<span class="total">3</span>
                    <span>Appointments</span>
                </div>
                <div class="appointments-booked">
                	<ul>
                    	<li class="cp">09.30 - 10.30 AM  / Haircut</li>
                        <li class="cp">12.30 - 01.30 PM / Massage</li>
                        <li class="cp">04.00 - 05.00pm / Bridal Makeup</li>
                    </ul>
                </div>
            </div>
            <div class="appointments fl boxsize">
            	<div class="total-appointments">
                	<span class="total">24</span>
                    <span>Appointments</span>
                </div>
                <div class="appointments-booked">
                	<ul>
                    	<li class="cp">09.30 - 10.30 AM  / Haircut</li>
                        <li class="cp">12.30 - 01.30 PM / Massage</li>
                        <li class="cp">04.00 - 05.00pm / Bridal Makeup</li>
                        <li class="cp">09.30 - 10.30 AM  / Haircut</li>
                        <li class="cp">...</li>
                    </ul>
                </div>
            </div>
            <div class="appointments fl boxsize">
            	<div class="total-appointments">
                	<span class="total">2</span>
                    <span>Appointments</span>
                </div>
                <div class="appointments-booked">
                	<ul>
                    	<li class="cp">09.30 - 10.30 AM  / Haircut</li>
                        <li class="cp">12.30 - 01.30 PM / Massage</li>
                    </ul>
                </div>
            </div>
            <div class="appointments holiday fl boxsize text-center">
            	<span class="break dis-inbl"></span>
            </div>
            <div class="appointments holiday fl boxsize text-center">
            	<span class="break dis-inbl"></span>
            </div>
        </div><!--row-->
    </div>
</div>

</div>
{{outlet}}
