<div id="businessinfo" class="tabcontainer active">
<div class="stepstitle">
   <span class="number boxsize">1</span>
   <span class="name boxsize dispinl">Business Info</span>

 </div>
<div class="setup-container boxsize">
     <div class="forms over">
        <span class="labelname dispinl fl">
            <label>Business Name</label>
        </span>
         <span class="inputbox dispinl fl">
               <input type="text" placeholder="Zoho appointment" class="txt-input"/>
          </span>
      </div>
              <div class="forms over">
                  <span class="labelname dispinl fl">
                     <label>Business URL</label>
                  </span>
                  <span class="inputbox dispinl fl">
                    <span class="urlname dispinl fl">http://zoho.com/appointment/</span>
                      <input type="text" placeholder="" class="txt-input-url"/>
                  </span>
                 </div>
                 <div class="forms over">
                    <span class="labelname dispinl fl">
                        <label>Email</label>
                    </span>
                     <span class="inputbox dispinl fl">

                           <input type="text" placeholder="srivigneshuix123@zohocorp.com" class="txt-input"/>
                      </span>
                    </div>
                    <div class="forms over">
                       <span class="labelname dispinl fl">
                           <label>Phone</label>
                       </span>
                        <span class="inputbox-number dispinl fl">

                              <input type="text" placeholder="555 - 233 2425" class="txt-input"/>

                         </span>
                       </div>
     </div>

   </div>
