<div id="addstaff" class="tabcontainer">
  <div class="stepstitle">
     <span class="number boxsize">4</span>
     <span class="name boxsize dispinl">Add Staff</span>
   </div>
  <div class="setup-container boxsize">
     <div class="tables">
       <div class="tablecell">
          Staffs
       </div>

     </div>
     <div class="tables border-light">

       <div class="tablecell">
         <span class="uploadimage dispinl fl">
            <img src="../images/uploadimage.png" alt=""/>
         </span>
         <span class="staffdetail dispinl fl">
             <span class="staffname">Sreedhar Ravikumar</span>
             <span class="jobdescription">Super Admin</span>
          </span>
       </div>
       <div class="table-cell">
         <span class="staffdetail dispinl fl">
             <span class="staffname">sreedharravikumar@gmail.com</span>
             <span class="jobdescription">Hair cut , Beard styling</span>
          </span>
       </div>

     </div>
     <div class="tables border-light">

       <div class="tablecell">
         <span class="uploadimage dispinl fl">
            <img src="../images/uploadimage.png" alt=""/>
         </span>
         <span class="staffdetail dispinl fl">
             <span class="staffname">Sreedhar Ravikumar</span>
             <span class="jobdescription">Employee</span>
          </span>
       </div>
       <div class="table-cell">
         <span class="staffdetail dispinl fl">
             <span class="staffname">sreedharravikumar@gmail.com</span>
             <span class="jobdescription">Facial,Body massage</span>
          </span>
       </div>

     </div>
     <div class="tables">
       <div class="tablecell">
          New Staffs
       </div>

     </div>
     <div class="tables border-light">

          <span class="labelname dispinl fl">
              <label>Business Name</label>
          </span>


          <span class="inputbox dispinl fl">
                <input type="text" placeholder="Dhandapani ramakrishnan" class="txt-input"/>
          </span>

     </div>
     <div class="tables border-light">
       <span class="labelname dispinl fl">
           <label>Role</label>
       </span>
       <div class="staff-role dispinl fl">
             <input type="radio" name="optionsRadios" id="employee" value="option1" checked="">
             <label for="employee">Employee</label>
             <input type="radio" name="optionsRadios" id="admin" value="option1">
             <label for="admin">Admin</label>
             <input type="radio" name="optionsRadios" id="superadmin" value="option1">
             <label for="superadmin">Super Admin</label>
       </div>

     </div>
     <div class="tables border-light">
       <span class="labelname dispinl fl">
           <label>Service assigned</label>
       </span>
       <div class="assigned-services dispinl">
         <span class="service fl active">Body massage</span>
         <span class="service fl">Hair cut</span>
         <span class="service fl">Manicure</span>
       </div>


     </div>
     <div class="tables border-light">
       <span class="labelname dispinl fl">
           <label>Email</label>
       </span>
       <span class="inputbox dispinl fl">
             <input type="text" placeholder="srivigneshuix123@zohocorp.com" class="txt-input"/>
        </span>
     </div>
     <div class="tab-row">
         <a href="javascript:void(0);" class="addService dispinl boxsize" {{action ""}}> Add Staff</a>
         <a href="javascript:void(0);" class="cancelService dispinl boxsize hide"  {{action ""}}>Cancel</a>
     </div>
  </div>
</div>
