<div class="appoint-grid">
   <div class="header over" id="header">
      <div class="row">
           <div class="appoint-left dis-inbl boxsize fl">
               <a href="javascript:void(0);" class="dispinl">
                <span class="logoimg dis-inbl"></span>

                    <span class="logoname dis-inbl"> Appointment</span>
               </a>
           </div>
           <div class="appoint-right-menu dis-inbl boxsize fl">
                  <ul class="menu">
                     <li>{{#link-to 'components.my-desk.mydesk'}}My Desk{{/link-to}}</li>
                     <li>{{#link-to 'components.appointments.calendar'}}Appointments{{/link-to}}</li>
                     <li>{{#link-to 'components.customers.clist'}}Customers{{/link-to}}</li>
                     <li>{{#link-to 'components.business-setup.binfo'}}Business Setup{{/link-to}}</li>
                     <li>{{#link-to 'components.reports.report'}}Reports{{/link-to}}</li>
                  </ul>
           </div>
           <div class="user-profile fr margin-10"></div>
      </div>
   </div>
</div>
