<div class="calendar day-wise">
  <div class="calendar-titleRow">
      <div class="staff fl boxsize">
            <span class="dropdown cp staff-title"><span class="label">All staff</span><span class="arrw-icon dis-inbl"></span></span>
        </div>
        <div class="calendar-day fl boxsize">
          <div class="time-title">
            <span class="time">8:00 am</span>
          </div>
        </div>
        <div class="calendar-day fl boxsize">
          <div class="time-title">
            <span class="time">9:00 am</span>
          </div>
        </div>
        <div class="calendar-day fl boxsize">
          <div class="time-title">
            <span class="time">10:00 am</span>
          </div>
        </div>
        <div class="calendar-day fl boxsize">
          <div class="time-title">
            <span class="time">11:00 am</span>
          </div>
        </div>
        <div class="calendar-day fl boxsize">
          <div class="time-title">
            <span class="time">12:00 pm</span>
          </div>
        </div>
        <div class="calendar-day holiday fl boxsize">
          <div class="time-title">
            <span class="time">1:00 pm</span>
          </div>
        </div>
        <div class="calendar-day holiday fl boxsize">
          <div class="time-title">
            <span class="time">2:00 pm</span>
          </div>
        </div>
        <div class="calendar-day holiday fl boxsize">
          <div class="time-title">
            <span class="time">3:00 pm</span>
          </div>
        </div>
        <div class="calendar-day holiday fl boxsize">
          <div class="time-title">
            <span class="time">4:00 pm</span>
          </div>
        </div>
        <div class="calendar-day holiday fl boxsize">
          <div class="time-title">
            <span class="time">5:00 pm</span>
          </div>
        </div>
        <div class="calendar-day holiday fl boxsize">
          <div class="time-title">
            <span class="time">6:00 pm</span>
          </div>
        </div>
    </div>
    <div class="appointment-row">
      <div class="services-row pos-abs">
                <div class="booked-services haircut fl">
                <div class="service text-center fl one-hr">
                    <span class="sname dis-block">Haircut</span>
                    <span class="timing">(8:00 am - 9:00 am)</span>
                </div>
                <div class="buff-time text-center fl">
                    <span class="sname dis-block">B</span>
                 </div>
               </div>
               <div class="booked-services massage fl">
                 <div class="service text-center fl one-hr">
                     <span class="sname dis-block">Massage</span>
                     <span class="timing">(9:15 am - 10:15 am)</span>
                 </div>
                 <div class="buff-time text-center fl">
                     <span class="sname dis-block">B</span>
                  </div>
              </div>
              <div class="booked-services bridal fl">
                <div class="service text-center fl one-halfhr">
                    <span class="sname dis-block">Bridal Makeup</span>
                    <span class="timing">(10:30 am - 11:30 am)</span>
                </div>
                <div class="buff-time text-center fl">
                    <span class="sname dis-block">B</span>
                 </div>
             </div>
             <div class="booked-services timeoff fl">
               <div class="service text-center fl one-hr">
                   <span class="sname dis-block">Lunch break</span>
               </div>
            </div>
          <div class="booked-services manicure fl">
            <div class="service text-center fl half-hr">
                <span class="sname dis-block">Manicure</span>
                <span class="timing">(9:15 am - 10:15 am)</span>
            </div>
         </div>
         <div class="booked-services timeoff fl">
           <div class="service text-center fl one-hr">
               <span class="sname dis-block">Timeoff</span>
           </div>
        </div>
        <div class="booked-services manicure fl">
          <div class="service text-center fl half-hr">
              <span class="sname dis-block">Manicure</span>
              <span class="timing">(9:15 am - 10:15 am)</span>
          </div>
          <div class="buff-time text-center fl">
              <span class="sname dis-block">B</span>
           </div>
        </div>
        <div class="booked-services fl">
          <div class="avail-booking fl">
              <span class="available dis-inbl"></span>
           </div>
        </div>
        <div class="booked-services fl">
          <div class="avail-booking fl">
              <span class="available dis-inbl"></span>
           </div>
        </div>
        <div class="booked-services threading fl">
          <div class="service text-center fl one-hr">
              <span class="sname dis-block">Threading</span>
              <span class="timing">(9:15 am - 10:15 am)</span>
          </div>
          <div class="buff-time text-center fl">
              <span class="sname dis-block">B</span>
           </div>
        </div>
        <div class="booked-services beard fl">
          <div class="service text-center fl one-halfhr">
              <span class="sname dis-block">Beard Styling</span>
              <span class="timing">(9:15 am - 10:15 am)</span>
          </div>
        </div>
        <div class="booked-services fl">
          <div class="avail-booking fl">
              <span class="available dis-inbl"></span>
           </div>
        </div>

      </div>
      <div class="staff fl boxsize text-center">
        <div class="sprofile">
          <span class="dis-block"><img src="/images/staff1.png" width="48" height="48" alt=""/></span>
            <span class="staff-name dis-block">Arun Prasad</span>
          </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>

        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
    </div><!--row-->
    <div class="appointment-row">
      <div class="services-row pos-abs">
                <div class="booked-services haircut fl">
                <div class="service text-center fl one-hr">
                    <span class="sname dis-block">Haircut</span>
                    <span class="timing">(8:00 am - 9:00 am)</span>
                </div>
                <div class="buff-time text-center fl">
                    <span class="sname dis-block">B</span>
                 </div>
               </div>
               <div class="booked-services massage fl">
                 <div class="service text-center fl one-hr">
                     <span class="sname dis-block">Massage</span>
                     <span class="timing">(9:15 am - 10:15 am)</span>
                 </div>
                 <div class="buff-time text-center fl">
                     <span class="sname dis-block">B</span>
                  </div>
              </div>
              <div class="booked-services bridal fl">
                <div class="service text-center fl one-halfhr">
                    <span class="sname dis-block">Bridal Makeup</span>
                    <span class="timing">(10:30 am - 11:30 am)</span>
                </div>
                <div class="buff-time text-center fl">
                    <span class="sname dis-block">B</span>
                 </div>
             </div>
             <div class="booked-services timeoff fl">
               <div class="service text-center fl one-hr">
                   <span class="sname dis-block">Lunch break</span>
               </div>
            </div>
          <div class="booked-services manicure fl">
            <div class="service text-center fl half-hr">
                <span class="sname dis-block">Manicure</span>
                <span class="timing">(9:15 am - 10:15 am)</span>
            </div>
         </div>
         <div class="booked-services timeoff fl">
           <div class="service text-center fl one-hr">
               <span class="sname dis-block">Timeoff</span>
           </div>
        </div>
        <div class="booked-services manicure fl">
          <div class="service text-center fl half-hr">
              <span class="sname dis-block">Manicure</span>
              <span class="timing">(9:15 am - 10:15 am)</span>
          </div>
          <div class="buff-time text-center fl">
              <span class="sname dis-block">B</span>
           </div>
        </div>
        <div class="booked-services fl">
          <div class="avail-booking fl">
              <span class="available dis-inbl"></span>
           </div>
        </div>
        <div class="booked-services fl">
          <div class="avail-booking fl">
              <span class="available dis-inbl"></span>
           </div>
        </div>
        <div class="booked-services threading fl">
          <div class="service text-center fl one-hr">
              <span class="sname dis-block">Threading</span>
              <span class="timing">(9:15 am - 10:15 am)</span>
          </div>
          <div class="buff-time text-center fl">
              <span class="sname dis-block">B</span>
           </div>
        </div>
        <div class="booked-services beard fl">
          <div class="service text-center fl one-halfhr">
              <span class="sname dis-block">Beard Styling</span>
              <span class="timing">(9:15 am - 10:15 am)</span>
          </div>
        </div>
        <div class="booked-services fl">
          <div class="avail-booking fl">
              <span class="available dis-inbl"></span>
           </div>
        </div>

      </div>
      <div class="staff fl boxsize text-center">
        <div class="sprofile">
          <span class="dis-block"><img src="/images/staff2.png" width="48" height="48" alt=""/></span>
            <span class="staff-name dis-block">Bysal</span>
          </div>
        </div>

        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
    </div><!--row-->
    <div class="appointment-row">
      <div class="services-row pos-abs">
                <div class="booked-services haircut fl">
                <div class="service text-center fl one-hr">
                    <span class="sname dis-block">Haircut</span>
                    <span class="timing">(8:00 am - 9:00 am)</span>
                </div>
                <div class="buff-time text-center fl">
                    <span class="sname dis-block">B</span>
                 </div>
               </div>
               <div class="booked-services massage fl">
                 <div class="service text-center fl one-hr">
                     <span class="sname dis-block">Massage</span>
                     <span class="timing">(9:15 am - 10:15 am)</span>
                 </div>
                 <div class="buff-time text-center fl">
                     <span class="sname dis-block">B</span>
                  </div>
              </div>
              <div class="booked-services bridal fl">
                <div class="service text-center fl one-halfhr">
                    <span class="sname dis-block">Bridal Makeup</span>
                    <span class="timing">(10:30 am - 11:30 am)</span>
                </div>
                <div class="buff-time text-center fl">
                    <span class="sname dis-block">B</span>
                 </div>
             </div>
             <div class="booked-services timeoff fl">
               <div class="service text-center fl one-hr">
                   <span class="sname dis-block">Lunch break</span>
               </div>
            </div>
          <div class="booked-services manicure fl">
            <div class="service text-center fl half-hr">
                <span class="sname dis-block">Manicure</span>
                <span class="timing">(9:15 am - 10:15 am)</span>
            </div>
         </div>
         <div class="booked-services timeoff fl">
           <div class="service text-center fl one-hr">
               <span class="sname dis-block">Timeoff</span>
           </div>
        </div>
        <div class="booked-services manicure fl">
          <div class="service text-center fl half-hr">
              <span class="sname dis-block">Manicure</span>
              <span class="timing">(9:15 am - 10:15 am)</span>
          </div>
          <div class="buff-time text-center fl">
              <span class="sname dis-block">B</span>
           </div>
        </div>
        <div class="booked-services fl">
          <div class="avail-booking fl">
              <span class="available dis-inbl"></span>
           </div>
        </div>
        <div class="booked-services fl">
          <div class="avail-booking fl">
              <span class="available dis-inbl"></span>
           </div>
        </div>
        <div class="booked-services threading fl">
          <div class="service text-center fl one-hr">
              <span class="sname dis-block">Threading</span>
              <span class="timing">(9:15 am - 10:15 am)</span>
          </div>
          <div class="buff-time text-center fl">
              <span class="sname dis-block">B</span>
           </div>
        </div>
        <div class="booked-services beard fl">
          <div class="service text-center fl one-halfhr">
              <span class="sname dis-block">Beard Styling</span>
              <span class="timing">(9:15 am - 10:15 am)</span>
          </div>
        </div>
        <div class="booked-services fl">
          <div class="avail-booking fl">
              <span class="available dis-inbl"></span>
           </div>
        </div>

      </div>
      <div class="staff fl boxsize text-center">
        <div class="sprofile">
          <span class="dis-block"><img src="/images/staff3.png" width="48" height="48" alt=""/></span>
            <span class="staff-name dis-block">Vignesh Sreedhar</span>
          </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
    </div><!--row-->
    <div class="appointment-row">
      <div class="services-row pos-abs">
                <div class="booked-services haircut fl">
                <div class="service text-center fl one-hr">
                    <span class="sname dis-block">Haircut</span>
                    <span class="timing">(8:00 am - 9:00 am)</span>
                </div>
                <div class="buff-time text-center fl">
                    <span class="sname dis-block">B</span>
                 </div>
               </div>
               <div class="booked-services massage fl">
                 <div class="service text-center fl one-hr">
                     <span class="sname dis-block">Massage</span>
                     <span class="timing">(9:15 am - 10:15 am)</span>
                 </div>
                 <div class="buff-time text-center fl">
                     <span class="sname dis-block">B</span>
                  </div>
              </div>
              <div class="booked-services bridal fl">
                <div class="service text-center fl one-halfhr">
                    <span class="sname dis-block">Bridal Makeup</span>
                    <span class="timing">(10:30 am - 11:30 am)</span>
                </div>
                <div class="buff-time text-center fl">
                    <span class="sname dis-block">B</span>
                 </div>
             </div>
             <div class="booked-services timeoff fl">
               <div class="service text-center fl one-hr">
                   <span class="sname dis-block">Lunch break</span>
               </div>
            </div>
          <div class="booked-services manicure fl">
            <div class="service text-center fl half-hr">
                <span class="sname dis-block">Manicure</span>
                <span class="timing">(9:15 am - 10:15 am)</span>
            </div>
         </div>
         <div class="booked-services timeoff fl">
           <div class="service text-center fl one-hr">
               <span class="sname dis-block">Timeoff</span>
           </div>
        </div>
        <div class="booked-services manicure fl">
          <div class="service text-center fl half-hr">
              <span class="sname dis-block">Manicure</span>
              <span class="timing">(9:15 am - 10:15 am)</span>
          </div>
          <div class="buff-time text-center fl">
              <span class="sname dis-block">B</span>
           </div>
        </div>
        <div class="booked-services fl">
          <div class="avail-booking fl">
              <span class="available dis-inbl"></span>
           </div>
        </div>
        <div class="booked-services fl">
          <div class="avail-booking fl">
              <span class="available dis-inbl"></span>
           </div>
        </div>
        <div class="booked-services threading fl">
          <div class="service text-center fl one-hr">
              <span class="sname dis-block">Threading</span>
              <span class="timing">(9:15 am - 10:15 am)</span>
          </div>
          <div class="buff-time text-center fl">
              <span class="sname dis-block">B</span>
           </div>
        </div>
        <div class="booked-services beard fl">
          <div class="service text-center fl one-halfhr">
              <span class="sname dis-block">Beard Styling</span>
              <span class="timing">(9:15 am - 10:15 am)</span>
          </div>
        </div>
        <div class="booked-services fl">
          <div class="avail-booking fl">
              <span class="available dis-inbl"></span>
           </div>
        </div>

      </div>
      <div class="staff fl boxsize text-center">
        <div class="sprofile">
          <span class="dis-block"><img src="/images/staff2.png" width="48" height="48" alt=""/></span>
            <span class="staff-name dis-block">Ramakrishnan</span>
          </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <div class="time-slot">
              <span class="tslot fl"></span>
              <span class="tslot half fl"></span>
              <span class="tslot fl"></span>
              <span class="tslot fl"></span>
            </div>
        </div>
    </div><!--row-->

</div><!-- week-wise -->
