<div class="calendar month-wise hide">
  <div class="calendar-titleRow">
        <div class="calendar-day fl boxsize">
          <span class="day">Mon</span>
        </div>
        <div class="calendar-day fl boxsize">
          <span class="day">Tue</span>
        </div>
        <div class="calendar-day fl boxsize">
          <span class="day">Wed</span>
        </div>
        <div class="calendar-day fl boxsize">
          <span class="day">Thu</span>
        </div>
        <div class="calendar-day fl boxsize">
          <span class="day">Fri</span>
        </div>
        <div class="calendar-day holiday fl boxsize">
          <span class="day">Sat</span>
        </div>
        <div class="calendar-day holiday fl boxsize">
          <span class="day">Sun</span>
        </div>
    </div>
    <div class="appointment-row">
        <div class="appointments fl boxsize">
          <!-- <span class="date"></span>
          <div class="total-appointments">
              <span class="total dis-block">6</span>
                <span>Appointments</span>
            </div> -->
        </div>
        <div class="appointments fl boxsize">
          <span class="date">1</span>
          <div class="total-appointments">
              <span class="total dis-block">8</span>
                <span>Appointments</span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <span class="date">2</span>
          <div class="total-appointments">
              <span class="total dis-block">0</span>
                <span>Appointments</span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <span class="date">3</span>
          <div class="total-appointments">
              <span class="total dis-block">1</span>
                <span>Appointments</span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <span class="date">4</span>
          <div class="total-appointments">
              <span class="total dis-block">5</span>
                <span>Appointments</span>
            </div>
        </div>
        <div class="appointments holiday fl boxsize text-center pad-top10">
          <span class="date">5</span>
          <span class="break"></span>
        </div>
        <div class="appointments holiday fl boxsize text-center pad-top10">
          <span class="date">6</span>
          <span class="break"></span>
        </div>
    </div><!--row-->
    <div class="appointment-row">
        <div class="appointments fl boxsize">
          <span class="date">7</span>
          <div class="total-appointments">
              <span class="total dis-block">3</span>
                <span>Appointments</span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <span class="date">8</span>
          <div class="total-appointments">
              <span class="total dis-block">7</span>
                <span>Appointments</span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <span class="date">9</span>
          <div class="total-appointments">
              <span class="total dis-block">9</span>
                <span>Appointments</span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <span class="date">10</span>
          <div class="total-appointments">
              <span class="total dis-block">16</span>
                <span>Appointments</span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <span class="date">11</span>
          <div class="total-appointments">
              <span class="total dis-block">2</span>
                <span>Appointments</span>
            </div>
        </div>
        <div class="appointments holiday fl boxsize text-center">
          <span class="date">12</span>
          <span class="break"></span>
        </div>
        <div class="appointments holiday fl boxsize text-center">
          <span class="date">13</span>
          <span class="break"></span>
        </div>
    </div><!--row-->
    <div class="appointment-row">
        <div class="appointments fl boxsize">
          <span class="date">14</span>
          <div class="total-appointments">
              <span class="total dis-block">32</span>
                <span>Appointments</span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <span class="date">15</span>
          <div class="total-appointments">
              <span class="total dis-block">0</span>
                <span>Appointments</span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <span class="date">16</span>
          <div class="total-appointments">
              <span class="total dis-block">3</span>
                <span>Appointments</span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <span class="date">17</span>
          <div class="total-appointments">
              <span class="total dis-block">24</span>
                <span>Appointments</span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <span class="date">18</span>
          <div class="total-appointments">
              <span class="total dis-block">2</span>
                <span>Appointments</span>
            </div>
        </div>
        <div class="appointments holiday fl boxsize text-center">
          <span class="date">19</span>
          <span class="break"></span>
        </div>
        <div class="appointments holiday fl boxsize text-center">
          <span class="date">20</span>
          <span class="break"></span>
        </div>
    </div><!--row-->
    <div class="appointment-row">
        <div class="appointments fl boxsize">
          <span class="date">21</span>
          <div class="total-appointments">
              <span class="total dis-block">0</span>
                <span>Appointments</span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <span class="date">22</span>
          <div class="total-appointments">
              <span class="total dis-block">12</span>
                <span>Appointments</span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <span class="date">23</span>
          <div class="total-appointments">
              <span class="total dis-block">6</span>
                <span>Appointments</span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <span class="date">25</span>
          <div class="total-appointments">
              <span class="total dis-block">4</span>
                <span>Appointments</span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <span class="date">25</span>
          <div class="total-appointments">
              <span class="total dis-block">2</span>
                <span>Appointments</span>
            </div>
        </div>
        <div class="appointments holiday fl boxsize text-center">
          <span class="date">26</span>
          <span class="break"></span>
        </div>
        <div class="appointments holiday fl boxsize text-center">
          <span class="date">27</span>
          <span class="break"></span>
        </div>
    </div><!--row-->
    <div class="appointment-row">
        <div class="appointments fl boxsize">
          <span class="date">28</span>
          <div class="total-appointments">
              <span class="total dis-block">6</span>
                <span>Appointments</span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <span class="date">29</span>
          <div class="total-appointments">
              <span class="total dis-block">12</span>
                <span>Appointments</span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <span class="date">30</span>
          <div class="total-appointments">
              <span class="total dis-block">3</span>
                <span>Appointments</span>
            </div>
        </div>
        <div class="appointments fl boxsize">
          <!-- <span class="date"></span>
          <div class="total-appointments">
              <span class="total dis-block">24</span>
                <span>Appointments</span>
            </div> -->
        </div>
        <div class="appointments fl boxsize">
        </div>
        <div class="appointments holiday fl boxsize text-center pad-bot10">
          <span class="date"></span>
          <span class="break"></span>
        </div>
        <div class="appointments holiday fl boxsize text-center pad-bot10">
          <span class="date"></span>
          <span class="break"></span>
        </div>
    </div><!--row-->
</div><!-- month-wise -->
